{% extends 'userview/header.html' %}
{% block content %}

<div class="container mt-5">
    <h1>
        {{ movie.title }}
        <a class="btn btn-warning" href="{{ movie.imdblink }}" target="_blank"
            style="font-family: 'Kenyan Coffee', sans-serif; font-size: 25px; width: fit-content; padding: 0px 10px;">IMDb</a>
    </h1>
    {% if avg_rating != 0 %}
    <p class="mb-3">
        <strong>Average Rating:</strong> {{ avg_rating }}
    </p>
    {% else %}
    <p class="mb-3">
        <strong>This movie has no ratings yet</strong>
    </p>
    {% endif %}
    {% if user_rating != 0 %}
    <p class="mb-3">
        <strong>Your Rating:</strong> {{ user_rating }}
    </p>
    {% elif user.is_authenticated %}
        <a href="/movie/{{ movie.id }}/rate" class="btn btn-success mb-3">Rate this movie</a>
    {% endif %}
    <p class="mb-5">
        <strong>Genres:</strong>
        {% for genre in movie.genres.all %}
        <a href="/genre/{{ genre.id }}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
        {% empty %}
        No genres found.
        {% endfor %}
    </p>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <a href="/movie/{{ movie.id }}/gallery" style="max-width: 600px; margin: 0 auto;">
            <div class="text-center">
                <img src="{{ front_image.img.url }}" alt="{{ image.title }}" class="img-fluid">
            </div>
        </a>
    </div>
</div>

<div class="container mt-5">
    <h2 style="display: flex; align-items: center;">
        Comments
        <a href="/movie/{{ movie.id }}/add_comment" class="btn btn-success d-flex justify-content-center align-items-center" style="width: 30px; height: 30px; margin-left: 10px;">
            <i class="fa fa-plus" style="line-height: 30px;"></i>
        </a>
    </h2>

    <div class="row">
        {% for comment in comments %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.user }}</h5>
                    <p class="card-text">
                        {{ comment.content|truncatechars:38 }}
                        <!-- {% if comment.content|length > 100 %}
                        <a href="#" class="btn btn-primary read-more">Read More</a>
                        {% endif %} -->
                    </p>
                    <a href="/comment/{{comment.id}}" class="btn btn-primary">See full comment</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


</br>
</br>
</br>

{% endblock %}
