{%extends 'userview/header.html'%}
{% block content %}
<div class="container mt-5">
    <h1>{{ movie.title }}</h1>
    <p class="mb-5"><strong>Genres:</strong>
    {% for genre in movie.genres.all %}
        <a href="/genre/{{ genre.id }}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}
        No genres found.
    {% endfor %}
    </p>
    {% for comment in comments %}
        <div class="card">
            <img src="image.jpg" class="card-img-top" alt="Image">
            <div class="card-body">
                <h5 class="card-title">{{ comment.user }}</h5>
                <p class="card-text">{{ comment.content }}</p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {% endfor %}
    <a class="btn btn-primary" href="/">Movies List</a>
</div>
{% endblock %}
