{% extends "userview/header.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container py-3" style="max-width:600px;margin-left:auto;margin-right:auto;">
        {% comment %} <h3>Search <i class="fas fa-search"></i></h3> {% endcomment %}
            <form method="POST">
                {% csrf_token %}
                {{ search_form|crispy }}
                <div style="text-align: center;">
                    <button class="btn btn-success" type="submit"><i class="fas fa-search"></i> Search</button>
                </div>
            </form>
    </div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if search_results %}
    <div class="container py-3">
        <h3>Search Results:</h3>
        <ul>
        {% for movie in search_results %}
            <li>
                <a href="/movie/{{ movie.id }}">{{ movie.title }}</a>
                </br>
                <p>
                    Genres:
                    {% for genre in movie.genres.all %}
                        {{ genre.name }}
                    {% endfor %}
                </p>
                <p>Average Rating: {{ movie.avg_rating|default:"No ratings yet" }}</p>
            </li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    </br>
    </br>
    </br>

{% endblock %}
